{% extends 'base.html' %} {% block content %}

<style>
    .card-body > img {
       transition: all 0.1s ease-in;
       height: auto;
    }

    .card-body > img:hover {
      width: 100% !important;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-1 mt-1 left top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_at }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
        <img style="width: 95%" src="/media/{{ post.image }}" alt="My image">
      </div>
    </div>

      {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

     <div class="row-md-8 card mb-2 mt-2 left comment">
      <div class="card-body">
        <p class=" text-muted">{{ post.author }} | {{ post.created_at }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
     <div class="col-md-8 card mb-2 mt-2 right">
      <div class="card-body">
        <input type="text" class="col-xs-2 card mb-2 mt-2 commenter_name" placeholder=" Name"></input>
        <textarea class="form-control input-lg card mb-2 mt-2 comment" placeholder="Your comment"></textarea>
        <a href="#" class="btn btn-danger float-right">Add comment</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}